asgi-redis==0.10.0
asgiref==0.11.2
autobahn==0.13.1
beautifulsoup4==4.4.1
blaze==0.10.1
channels==0.11.0
click==6.6
contextlib2==0.5.4
daphne==0.10.3
dask==0.10.2
datashape==0.5.2
decorator==4.0.10
dj-database-url==0.3.0
Django==1.8.2
django-bootstrap3==7.0.0
django-classy-tags==0.6.2
django-cms==3.1.2
django-polymorphic==0.7.1
django-registration-redux==1.4
django-reversion==1.8.5
django-sekizai==0.8.2
Django-Select2==4.3.1
django-shop==0.2.0
django-treebeard==3.0
djangocms-admin-style==0.2.7
djangocms-column==1.5
djangocms-file==0.1
djangocms-flash==0.2.0
djangocms-googlemap==0.3
djangocms-inherit==0.1
djangocms-installer==0.7.9
djangocms-picture==0.1
djangocms-style==1.5
djangocms-teaser==0.1
djangocms-text-ckeditor==2.6.0
djangocms-video==0.1
ecdsa==0.13
Fabric==1.10.2
Flask==0.11.1
Flask-Cors==2.1.2
funcsigs==1.0.2
html5lib==0.999999
itsdangerous==0.24
Jinja2==2.8
jsonfield==1.0.3
MarkupSafe==0.23
mock==2.0.0
msgpack-python==0.4.7
multipledispatch==0.4.8
networkx==1.11
nltk==3.2
numpy==1.11.1
odo==0.5.0
pandas==0.18.1
paramiko==1.16.0
pbr==1.10.0
Pillow==2.9.0
psutil==4.3.0
pycrypto==2.6.1
python-dateutil==2.5.3
pytz==2016.6.1
redis==2.10.5
requests==2.9.1
Rx==1.2.6
RXPY==0.1.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
selenium==2.46.0
six==1.10.0
South==1.0.2
SQLAlchemy==1.0.14
stripe==1.38.0
toolz==0.8.0
Twisted==16.1.1
txaio==2.3.1
tzlocal==1.2
Werkzeug==0.11.10
zope.interface==4.1.3
